# entornos virtuales
.venv
.env
env
venv

# migrations
*/migrations/*

# python cache
*/__pycache__/*

users/api/__pycache__/*
products/api/__pycache__/*
categories/api/__pycache__/*

# vscode
.vscode/
*.code-workspace

# database
*.sqlite3
